*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:#080808;
color:white;
line-height:1.6;
}

.container{
width:90%;
max-width:1400px;
margin:auto;
}

header{
height:100vh;
position:relative;
overflow:hidden;
}

.hero{
height:100vh;

background:
linear-gradient(
135deg,
rgba(0,0,0,0.85),
rgba(0,20,50,0.8)
),
url("hero.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;
}

.hero-content{
text-align:center;
max-width:900px;
padding:20px;
}

.badge{
display:inline-block;
padding:10px 20px;
border:1px solid rgba(255,255,255,0.2);
backdrop-filter:blur(20px);
border-radius:50px;
margin-bottom:25px;
}

.hero h1{
font-size:5rem;
font-weight:800;
margin-bottom:20px;
}

.hero h2{
font-size:2rem;
font-weight:300;
margin-bottom:25px;
color:#00AEEF;
}

.hero p{
font-size:1.2rem;
opacity:0.9;
}

.buttons{
margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.btn-primary{
background:#00AEEF;
color:white;
padding:15px 35px;
border-radius:50px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn-primary:hover{
transform:translateY(-3px);
}

.btn-secondary{
border:1px solid white;
padding:15px 35px;
border-radius:50px;
text-decoration:none;
color:white;
}

.navbar{
position:fixed;
top:0;
width:100%;
padding:20px 50px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;

background:rgba(0,0,0,0.2);
backdrop-filter:blur(20px);
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.logo{
font-size:1.8rem;
font-weight:800;
color:#00AEEF;
}

section{
padding:120px 0;
}

section h2{
font-size:3rem;
margin-bottom:50px;
text-align:center;
}

.cards,
.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.card,
.project{
padding:40px;
background:rgba(255,255,255,0.05);

border:1px solid rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

border-radius:20px;

transition:.4s;
}

.card:hover,
.project:hover{
transform:translateY(-10px);
border-color:#00AEEF;
}

.stats{
background:#0E1625;
}

.stats .container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
text-align:center;
}

.stat h2{
font-size:4rem;
color:#00AEEF;
}

#contact{
text-align:center;
}

footer{
padding:40px;
text-align:center;
border-top:1px solid rgba(255,255,255,0.1);
}

@media(max-width:768px){

.hero h1{
font-size:3rem;
}

.hero h2{
font-size:1.4rem;
}

.navbar ul{
display:none;
}

}

nav a{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    transition: .3s ease;
}

nav a:hover{
    color:#18d4ff;
    text-shadow:0 0 12px rgba(24,212,255,.7);
}
